// Colors
$grey: #333333;
$primary-color:#3d5afe;
$secondary-color:#ff9800;
$background-color:#eee;
$normal-text-color:#111;

// Color Scheme
$oneScheme: #EAEBED;
$twoScheme: #006989;
$threeScheme: #A3BAC3;
$fourScheme: #007090;
$fiveScheme: #01A7C2;

html,
body{
  width:100%;
  height:100%;
  //background: $background-color;
  //background: $oneScheme;
  //background: white;
  background-image: url("/assets/straws_@2X.png") !important;
  margin:0;
  border:0;
  color:$normal-text-color;
}


//mobile SCSS

/* Using SCSS variables to store breakpoints */
$breakpoint-tablet: 1025px;
@media (min-width: $breakpoint-tablet) {
  background: $oneScheme;
}