.ericResize {
  width: 300px;
  height: auto;
  display: block;
  margin: auto;
  border: 5px $light-gray solid;
}

.linkedInResize {
  width: 150px;
  height: auto;
  display: block;
  margin: auto;
}

.textCenter {
  text-align: center;
}

.ital {
  font-style: italic;
  text-decoration: underline;
}

.boldNumber {
  font-weight: bold;
}

.main {
  padding-top: 1000px;
}

.callToday {
  text-align: center;
  padding: 52px;
}
