.ericResize {
  width: 300px;
  height: auto;
  display: block;
  margin: auto;
  border: 5px $light-gray solid;
}

.textCenter {
  text-align: center;
}

.ital {
  font-style: italic;
  text-decoration: underline;
}

.boldNumber {
  font-weight: bold;
}

