.textcenter {
  text-align: center;
}

.imageResize {
  width: 550px;
  height: 250px;
  display: block;
  margin: auto;
}

// a[href]{
//   color: black;
//   &:hover {
//     color: white;
//     cursor: pointer;
//     text-decoration: none;
//   }
// }

.hoverContact {
  color: black;
  border-radius: 25px;
  a[href] {
      text-decoration: none;
      color: black;
    }
  &:hover {
    color: white;
    background-color: $twoScheme;
    cursor: pointer;
    text-decoration: none;
    & a[href] {
      text-decoration: none;
      color: white;
    }
  }
}
