.textcenter {
  text-align: center;
}

.imageResize {
  width: 550px;
  height: auto;
  display: block;
  margin: auto;
}

a[href]{
  color: black;
  &:hover {
    color: #1779ba;
    cursor: pointer;
    text-decoration: underline;
  }
}