footer {
  background-color: #e6e6e6;
  padding: 40px 0px;
  border-top: 1px solid rgba(10, 10, 10, 0.25);
}

footer a {
  display: block;
  font-size: 1em;
}

footer li {
  display: block;
  font-size: 1em;
}

footer h4 {
  font-size: 1.3em;
}

footer hr {
  margin: 10px 0;
}

.column
  & a:hover {
    font-weight: bold;
  }

// #nav-menu .top-bar-left
//   & a:hover{
//   font-weight: bold;
//   text-decoration: none;
//   color: #1779ba;
// }