.ericResize {
  width: 300px;
  height: auto;
  display: block;
  margin: auto;
  border: 5px $light-gray solid;
}

.linkedInResize {
  width: 150px;
  height: auto;
  display: block;
  margin: auto;
}

.textCenter {
  text-align: center;
}

.ital {
  font-style: italic;
  text-decoration: underline;
}

.boldNumber {
  font-weight: bold;
}

.main {
  padding-top: 1000px;
}

.callToday {
  text-align: center;
  padding: 15px;
}

.logoHeading {
  height: 80px;
  width: 130px;
}

.ribbon {
  background-color: #1779ba;
  // position: relative;
  margin: 0 0 1rem 0;
  padding: 1rem;
}

.ribbonText {

}