// .no-js {
//   @include breakpoint(small only) {
//     .top-bar {
//       display: none;
//     }
//   }

//   @include breakpoint(medium) {
//     .title-bar {
//       display: none;
//     }
//   }
// }

.test {
  font-size: 100px;
}

.logo {
  height: 60px;
  width: 100px;
}

.mobilelogo {
  height: 60px;
  width: 100px;
}

.center {
  align: center;
}

.title-bar .center {
  text-align: center;
}