// .no-js {
//   @include breakpoint(small only) {
//     .top-bar {
//       display: none;
//     }
//   }

//   @include breakpoint(medium) {
//     .title-bar {
//       display: none;
//     }
//   }
// }

.test {
  font-size: 100px;
}

.logo {
  height: 60px;
  width: 100px;
}

.mobilelogo {
  height: 80px;
  width: 170px;
  padding-left: 30px;
}

.mobileHamburger {
  //@include hamburger($color, $color-hover, $width, $height, $weight, $bars);
  @include hamburger($white, $white, 70px, 70px, 12px, 4);
}

.phoneNumber {
  color: $white;
  font-weight: bold;
  font-size: 50px;
}

.phoneNumberMain {
  padding-top: 22px;
  font-weight: bold;
}

.freeConsultation {
  font-weight: bold;
  text-decoration: underline;
  color: red;
}

.navNumber {
  font-weight: bold;
}

.topRight {
  text-align: center;
  padding: 0.7rem 1rem;
}



