.cardWidth {
  width: 300px;
}

// .thinBorder {
//   border: 1px solid black;
// }

.cardBox {
  width: 300px;
  margin-bottom: 25px;
  &:hover {
    cursor: pointer;
    .card-divider {
      font-weight: bold;
      background-color: $twoScheme;
      color: white;
    }
  }
}

.cardTop{
  border-top: 1px solid rgba(10, 10, 10, 0.25);
  border-left: 1px solid rgba(10, 10, 10, 0.25);
  border-right: 1px solid rgba(10, 10, 10, 0.25);
  //take out bottom border and border radius when using image in card
  border-bottom: 1px solid rgba(10, 10, 10, 0.25);
  border-radius: 25px;
  text-align: center;
}

.cardMiddle{
  border-left: 1px solid rgba(10, 10, 10, 0.25);
  border-right: 1px solid rgba(10, 10, 10, 0.25);
}

.cardBottom{
  border-bottom: 1px solid rgba(10, 10, 10, 0.25);
  border-left: 1px solid rgba(10, 10, 10, 0.25);
  border-right: 1px solid rgba(10, 10, 10, 0.25);
}

.alert {
  color: red;
}

.boldRed {
  font-weight: bold;
  color: red;
  text-decoration: underline;
}

.bold {
  font-weight: bold;
  text-decoration: underline;
}

.lineFiller {
  color: $background-color;
}