.cardWidth {
  width: 300px;
}

.thinBorder {
  border: 1px solid black;
}

.cardSection {
  width: 300px;
  &:hover {
    cursor: pointer;
    .card-divider {
      font-weight: bold;
      background-color: #1779ba;
      color: white;
    }
  }
}